<h2>Welcome to CSE Motors!</h2>
<section class="hero">
    <img src="images/vehicles/delorean-tn.jpg" alt="delorean">
    <section class="message">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders Supperman doors Fuzzy dicel</p>
        <button>Own Today</button>
    </section>
</section>
<section class="layer">
    <section class="review">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"so fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!". (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and i love it!" (5/5)</li>
        </ul>
    </section>

    <section class="upgrade">
        <h2>Delorean Upgrades</h2>
        <aside>
            <article>
                <img src="images/upgrades/flux-cap.png" alt="Flux Cap">
                <a href="">Flux Cap</a>
            </article>
            <article>
                <img src="images/upgrades/flame.jpg" alt="Flame">
                <a href="">Flame</a>
            </article>
            <article>
                <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                <a href="">Bumper Sticker</a>
            </article>
            <article>
                <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <a href="">Hub Caps</a>
            </article>
        </aside>
    </section>
</section>